
.posts__title {
  font-family: $headers-font-family;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.tabs {
  padding-left: 0;
  display: flex;
  border: none;
  &__item {
    border-bottom: 2px solid transparentize(gray, .5);
    &.is-active {
      border-bottom: 2px solid #7beec7;

      > a {
        background: none;
        color: black;
      }
    }
    > a {
      padding: 20px;
      color: gray;
      font-family: $headers-font-family;
      font-size: 12px;
      font-weight: 700;
      line-height: 48px;
      text-transform: uppercase;
      &:focus,
      &:visited,
      &:active,
      & [aria-selected="true"]{
        background-color: transparent;
        outline: none;
      }
      &:hover {
        color: gray;
      }
    }
  }
}

.tabs-content {
  border: none;
}
.icon-title-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  > img {
    flex-basis: 50%;
  }
  .icon-title-meta__wrap {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: -30px;
    > .meta__time {
      margin: 0;
      padding: 0;
      background: none;
      text-transform: lowercase;
      color: #9a9a9a;
      font-family: $main-font-family;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
    > .meta__title {
      color: #60606e;
      font-family: $headers-font-family;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}